html, body {
    height: 100%;
    margin: 0;
}

body {
    background: repeating-conic-gradient(from 45deg, #e6e6e6 0% 25%, #cfcfd9 0% 50%) 0 0 / 64px 64px;
    color: #eaeaea;
    font-family: Inter, system-ui, Arial, sans-serif;
    overflow: hidden;
}

#dotty-wrap {
    position: relative;
    height: 100vh;
}

canvas#dotty {
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
    display: block;
}
