html, body {
    height: 100%;
    margin: 0;
}

body {
    background: #20142c;
    color: #eaeaea;
    font-family: Inter, system-ui, Arial, sans-serif;
    overflow: hidden;
}

/* font: 12px ui-monospace, SFMono-Regular, Menlo, Consolas, monospace; */

#dotty-wrap {
    position: relative;
    height: 100vh;
}

canvas#dotty {
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
    display: block;
}
